
<div class="main-content">
    <div id=error-container>
        <div id="error-message"> 500 Server Internal Error
            <br> Oops something went wrong.Please try again later or contact the site admin.
        </div>
        <div class="error-gif"></div>
    </div>
</div>