
<form class="container" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
    <h1>Login</h1>
    <div class="control-form">
        <label for="name">UserName</label>
        <input type="text" placeholder="Username" required name="username" id="name"/>
    </div>

    <br>
    <div class="control-form">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" required name="password" id="password"/>
    </div>

    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-success btn-primary " type="submit">Submit</button>
        </div>
    </div>
</form>
